@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Lato', sans-serif;
    padding: 30px;
    background: #eaebeb;
}


/**************/

.text-center {
    text-align: center;
    margin-bottom: 50px;
}

.project-counter-wrp {
    background: #fff
}

.project-counter-wrp ul {
    list-style-type: none;
    display: flex;
}

.project-counter-wrp li {
    width: 33.33%;
    height: 100%;
    padding: 30px 0px;
    text-align: center;
    transition: 0.2s linear;
}

.project-counter-wrp li:hover {
    transform: scale(1.1);
}

.project-counter-wrp li:nth-child(1) {
    background: rgb(16, 31, 46);
}

.project-counter-wrp li:nth-child(2) {
    background: rgb(18, 34, 51);
}

.project-counter-wrp li:nth-child(3) {
    background: rgb(21, 38, 56);
}

.project-counter-wrp li p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.project-counter-wrp li p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
}

.project-counter-wrp li span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.project-counter-wrp li i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}